In [76]:
import pandas as pd

In [77]:
data = pd.read_csv("./dsi_final_cleaned.TFs_HMs.txt", sep ='\t')

In [78]:
data[['Chromosome','Start','End']] = data['Location'].str.split(":|-", expand = True)

In [79]:
data['X']==True

0         False
1         False
2         False
3         False
4         False
          ...
428059    False
428060    False
428061    False
428062    False
428063    False
Name: X, Length: 428064, dtype: bool

In [80]:
subset = data[data['Chromosome'] == "X"]
subset

,Location,BEAF-2,CTCF-1,CondensinI-1,DREF-1,Ez-1,H1-1,H2Bub-1,H3-1,H3K4me2-1,...,Mod,POLS5P,PROseq,RNAseq,TFIIIC,lbf,X,Chromosome,Start,End
352206,X:0-300,-0.295,-1.701,2.851,-1.467,-0.162,-0.567,-0.492,-1.53,-0.277,...,-0.005,-0.354,-0.524,-0.052,-1.620,-0.834,True,X,0,300
352207,X:300-600,-0.295,-1.701,1.620,-1.467,-0.197,-0.567,-0.492,-1.53,-0.277,...,-0.003,-0.354,-0.524,-0.052,-1.620,-0.834,True,X,300,600
352208,X:600-900,-0.295,-1.701,0.641,-1.467,-0.193,-0.567,-0.492,-1.53,-0.277,...,-0.566,-0.354,-0.524,-0.052,-1.620,-0.834,True,X,600,900
352209,X:900-1200,-0.295,-1.701,0.159,-1.467,-0.164,-0.567,-0.492,-1.53,-0.277,...,-0.422,-0.354,-0.524,-0.051,-1.620,-0.834,True,X,900,1200
352210,X:1200-1500,-0.295,-1.701,-0.347,-1.467,-0.139,-0.567,-0.492,-1.53,-0.277,...,-0.326,-0.354,-0.524,-0.051,-1.620,-0.834,True,X,1200,1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426641,X:22421400-22421700,-0.146,1.539,1.095,1.222,-0.059,-0.567,-0.492,-1.53,-0.277,...,0.033,-0.226,-0.503,-0.051,0.436,-0.834,True,X,22421400,22421700
426642,X:22421700-22422000,-0.155,1.499,-0.347,0.327,-0.194,-0.567,-0.492,-1.53,-0.277,...,0.274,-0.369,-5.546,-0.051,0.287,-0.834,True,X,22421700,22422000
426643,X:22422000-22422300,-0.043,1.061,-0.347,0.963,-0.208,-0.567,-0.492,-1.53,-0.277,...,-0.144,-0.356,-5.514,-0.051,0.469,-0.834,True,X,22422000,22422300
426644,X:22422300-22422600,-0.295,-1.222,-0.347,-1.174,0.328,-0.567,-0.492,-1.53,-0.277,...,-0.677,-0.380,-5.546,-0.052,-1.187,-0.834,True,X,22422300,22422600
426645,X:22422600-22422827,-0.295,-1.701,-0.347,-1.467,0.316,-0.567,-0.492,-1.53,-0.277,...,-0.719,-0.354,-5.546,-0.052,-1.620,-0.834,True,X,22422600,22422827

In [81]:
subset['Chromosome'] = 'chr'+subset['Chromosome']

/var/folders/bm/jnfnzcgj6rq2tl_mgx458x0r0000gn/T/ipykernel_71052/2908008357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Chromosome'] = 'chr'+subset['Chromosome']

In [82]:
# subset.reset_index()

In [83]:
bed_file = subset[['Chromosome','Start','End']]

In [84]:
bed_file.to_csv("X_TFs_HMs.bed", index = None, header = None, sep = '\t')

In [85]:
%%bash
module load bedtools
bedtools intersect -a X_TFs_HMs.bed -b dm6_ces1_2.bed -f 0.8 -loj > X_merged_labels.bed

bash: line 1: module: command not found

In [86]:
labels = pd.read_csv("X_merged_labels.bed", sep ="\t", header = None)

In [87]:
labels

          0         1         2  3  4  5  6
0      chrX         0       300  . -1 -1  .
1      chrX       300       600  . -1 -1  .
2      chrX       600       900  . -1 -1  .
3      chrX       900      1200  . -1 -1  .
4      chrX      1200      1500  . -1 -1  .
...     ...       ...       ... .. .. .. ..
74435  chrX  22421400  22421700  . -1 -1  .
74436  chrX  22421700  22422000  . -1 -1  .
74437  chrX  22422000  22422300  . -1 -1  .
74438  chrX  22422300  22422600  . -1 -1  .
74439  chrX  22422600  22422827  . -1 -1  .

[74440 rows x 7 columns]

In [88]:
condition = (labels[6] !='.')

In [89]:
import numpy as np

In [90]:
subset['label'] =  np.where(condition, 1, 0)

/var/folders/bm/jnfnzcgj6rq2tl_mgx458x0r0000gn/T/ipykernel_71052/4053127732.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['label'] =  np.where(condition, 1, 0)

In [91]:
subset = subset.reset_index(drop = True)

In [92]:
subset.to_csv("subset_X_labels.tsv", sep ="\t", header = True, index = False)

In [93]:
subset_nolabel = np.array(subset.iloc[:, 1:-5])

In [94]:
labels_subset = subset['label'][25:-26]

In [95]:
labels_subset.reset_index(drop = True)

0        0
1        0
2        0
3        0
4        0
        ..
74384    0
74385    0
74386    0
74387    0
74388    0
Name: label, Length: 74389, dtype: int64

In [96]:
# Define the number of rows you want in each submatrix
num_rows_per_submatrix = 51

# Extract 50 consecutive rows as submatrices
submatrices = np.stack([subset_nolabel[i:i+num_rows_per_submatrix, :] for i in range(0, subset_nolabel.shape[0]-num_rows_per_submatrix)])

In [97]:
### matrix of all data samples 

submatrices.shape

(74389, 51, 43)

In [98]:
data = np.asarray(submatrices)

In [107]:
full_data = pd.read_csv("subset_X_labels.tsv", sep ="\t")
labels = full_data['label']
labels = np.asarray(labels)[:-51]
labels.shape

(74389,)

In [108]:
positive_indices = np.where(labels == 1)[0]
new_labels = np.zeros(len(labels))

for pos_i in positive_indices:
    new_labels[pos_i:pos_i+52] = 1

In [109]:
data.shape, new_labels.shape

((74389, 51, 43), (74389,))

In [110]:
# Full Dataset Exporting
np.save("X_data.npy", data)
np.save("X_labels.npy", new_labels)

## Sample Small Toy Dataset to Run Locally for Model Verification

In [48]:
## Sample 3000 data points from the full dataset
import random
random.seed(123)

sampled_indices = random.sample(range(0, len(data)), 3000)
sampled_data = data[sampled_indices, :, :]
sampled_labels = new_labels[sampled_indices]

# Sampled Dataset Exporting
np.save("X_sampled_data.npy", sampled_data)
np.save("X_sampled_labels.npy", sampled_labels)

In [13]:
Counter(data['Chromosome'].to_list())

Counter({'2L': 76704,
         '2LHet': 992,
         '2R': 70488,
         '2RHet': 9048,
         '3L': 81810,
         '3LHet': 8041,
         '3R': 93017,
         '3RHet': 7535,
         '4': 4505,
         'M': 66,
         'X': 74440,
         'XHet': 640,
         'YHet': 778})

In [15]:
grouped = data.groupby('Chromosome')

In [18]:
for category,group in grouped:
    print(category)
    print#(group)
    print(Counter(group['X']))

2L
Counter({False: 76704})
2LHet
Counter({False: 992})
2R
Counter({False: 70488})
2RHet
Counter({False: 9048})
3L
Counter({False: 81810})
3LHet
Counter({False: 8041})
3R
Counter({False: 93017})
3RHet
Counter({False: 7535})
4
Counter({False: 4505})
M
Counter({False: 66})
X
Counter({True: 74440})
XHet
Counter({True: 640})
YHet
Counter({False: 778})